@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

/*
 * Base structure
 */




.navbar-logo .sulfur-logo-text{
    margin-top: 15px !important;
}

.navbar {
  margin-bottom: 0;
    margin-top: 0%;
  background: #f5f5f5;
    /*border-bottom: 1px solid #595959 !important;*/
  border: none;
  border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

@media (min-width: 768px) {
  .navbar {
    margin-top: -6.5%;
  }
}

.navbar-brand {
  position: relative;
  padding: 27px 0;
    padding-top: 0;
  margin-top: 9%;
  transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}


a.navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    font-size: 40px;
    margin-top: 20%;
    padding-top: 20px;
    color: #ff432e !important;
}


.navbar-default .navbar-nav {
  margin-right: 10px!important;
  position: relative;
  transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}


/*.navbar-default .navbar-nav > li > a.active,*/ 
/*.navbar-default .navbar-nav > li:hover > a {
  border-top: 2px solid #FF432E;
    color: #fff;
    background: #FF432E;
    //padding: 25px 15px 30px;
}*/

.navbar-default .navbar-nav > li {
    margin-left: 1px;
}

.navbar-default .navbar-nav > li:first-child {
    margin-left: 0;
}

.navbar-default .navbar-nav > li > a {
  display: block;
    font-size: 16px;
    line-height: 10px;
  font-weight: 500;
    padding: 25px 15px 30px;
  overflow: hidden;
    /*border-top: 2px solid transparent;*/
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav > li > a i {
    padding-left: 10px;
}

/*.navbar-default .navbar-nav > li > a.active,*/ 
/*.navbar-default .navbar-nav > li:hover > a {
  border-top: 2px solid #FF432E;
    color: #fff;
    background: #FF432E;
    //padding: 25px 15px 30px;
}*/

.navbar-default .navbar-nav > li > a i {
  margin: 0 -2px 10 -5px;
}

.navbar-default .navbar-nav .dropdown {
    position: absolute;
    left: 0;
    top: 97%;
    margin-right: 20%;
    width: 200px;
  background-color: #fff;
    border-top: 3px solid #fff;
    visibility: hidden;
    z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-nav > li.drop:hover .dropdown {
    visibility: visible;
  opacity: 1;  
}

.dropdown li, .sup-dropdown li {
  position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.dropdown li:first-child, 
.sup-dropdown li:first-child {
    border-top: none;
}

.dropdown li a, 
.sup-dropdown li a {
    display: block;
    color: #6b6b6b;
    font-size: 14px;
    padding: 10px 12px;
    text-decoration: none;
    //text-transform: uppercase;
    transition: padding 0.2s ease-in-out;
    -moz-transition: padding 0.2s ease-in-out;
    -webkit-transition: padding 0.2s ease-in-out;
    -o-transition: padding 0.2s ease-in-out;
}

/*.dropdown > li:hover > a,
.sup-dropdown li:hover > a {
    background: #FF432E;
    color: #fff;
}*/

/*.dropdown  li a.active,
.sup-dropdown li a.active {
  background: #FF432E;
    color: #fff;
}*/

.dropdown li a i {
  margin: 0 0 0 -4px;
}

.navbar-default .navbar-nav .sup-dropdown {
    position: absolute;
    left: 100%;
    top: 0;
    width: 180px;
  background-color: #fff;
    margin-top: 10px;
    transition: margin-top 0.2s ease-in-out;
    -moz-transition: margin-top 0.2s ease-in-out;
    -webkit-transition: margin-top 0.2s ease-in-out;
    -o-transition: margin-top 0.2s ease-in-out;
    visibility: hidden;
    z-index: 3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-nav li.drop .dropdown li:hover .sup-dropdown {
    visibility: visible;
    margin-top: 0;
}



/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*.dropdown {
  margin-top: 170%;
}*/

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
.copyright {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
  .copyright{
    display: block;
    padding-left: 10px;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-top: -20px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.font-tang {
  font-family: tangerineRegular;
  color: #21DEEF;
  font-size:400%;
}

@font-face {
  font-family: tangerineRegular;
  src: url("../fonts/tangerine/Tangerine_Bold.ttf");
}

.display-1 {
    font-size: 6rem;
    font-weight: 300;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.bg-success {
    color: #fff!important;
    background-color: #ff432e!important;
}

.card {
    overflow: hidden;
}

.card-success {
    background-color: #ff432e;
    border-color: #5cb85c;
}

.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: .25rem;
}

.card-block {
    padding: 1.25rem;
}

.card-block .rotate {
    z-index: 8;
    float: right;
}

.card-block .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
}

.video-iframe {
  width: 100%;
}

.btn {
  background-color: #ff432e ! important;
  border-color: #ff432e ! important;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.auth-or {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px; 
}

.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}

.hr-or {
  background-color: #e5e5e5;
  margin-top: 0px !important;
  margin-bottom: 0px !important; 
}

#exportButton {
    border-radius: 0;
    background-color: #0f632e ! important;
    border: none;
}
